.alertModalContainer {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  width: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.alertModal {
  background-color: white;
  width: 400px;
  max-width: 100%;
  padding: 30px 50px;
  border-radius: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.alertModal h1 {
  margin: 0;
  color: red;
}
.alertModal p {
  opacity: 0.7;
}
.commentModalContainer {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  width: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.commentModal {
  background-color: white;
  width: 400px;
  max-width: 100%;
  padding: 20px 50px;
  border-radius: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.header i {
  font-size: larger;
  cursor: pointer;
}

.commentModal h1 {
  margin: 0;
}
.commentsBox {
  background-color: #ebe9e9;
  display: flex;
  flex-direction: column;
  width: 89%;
  padding: 23px;
  gap: 23px;
  border-radius: 12px;
}
.innerComments {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  align-items: center;
}
.innerComments i {
  font-size: larger;
  cursor: pointer;
  transition: all 0.9s ease-in-out;
}
.innerComments i:hover {
  transform: scale(1.6);
}

.innerComments input {
  width: 100%;
  height: 34px;
  border-radius: 12px;
  border: 1px solid gray;
  padding: 5px 12px;
  font-size: medium;
}
.innerComments :focus {
  outline: none;
}

.commentItemSpan {
  width: 100%;
  text-align: left;
  font-weight: 500;
  font-size: medium;
}
.commentItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 23px;
}
.commentsContainer{
  background-color: white;
  border-radius: 23px;
  padding: 23px;

}
.commentItem i{
  font-size: 23px;
}
.comment{
  float: left;
  padding-top: 12px;
  margin-left: 12px;
}

#comment {
  padding: 10px;
  background-color: white;
  border-radius: 23px;
}


.formContainer {
  height: 100%;
  max-width: 600px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.Label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25rem;
  color: rgb(17 24 39);
}
.inp {
  background-color: rgb(249 250 251/1);
  border-color: rgb(209 213 219 /1);
  font-size: 16px;
  line-height: 1.25rem;
  color: rgb(17 24 39);
  border-radius: 0.5rem;
  border-width: 1px;
  padding: 0.625rem;
  display: block;
  width: 100%;
}

.inp:focus {
  border-color: rgb(59 130 246);
}

.btn {
  color: rgb(255 255 255);
  background-color: rgb(29 78 216);
  font-weight: 500;
  border-radius: 0.5rem;
  font-size: 16px;
  width: 100%;
  line-height: 1.25rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  text-align: center;
  cursor: pointer;
}

.btn:hover {
  background-color: rgb(30 64 175);
}

.btn:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
  border-color: rgb(147 197 253);
}

@media (min-width: 640px) {
  .btn {
    width: auto;
  }
}

.signInGoogleButton {
  margin-top: 30px;
  text-align: center;
}

.link {
  text-decoration: underline;
}

.link:hover {
  cursor: pointer;
}

